*, *::before, *::after {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    height:100vh;
    margin:0;
    display:flex; 
    flex-direction:column; 
}

footer{ min-height:50px;  }
nav {
    display: flex;
    flex-direction: row;
}

nav > ul {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    background-color: #ddd;
    height: 2rem;
    line-height: 2rem;
    margin: 0;
    padding: 0;
}

nav ul:hover {
    background: cadetblue;
}

ul:hover li {
    display: block;
}

nav ul li {
    background-color: #ddd;
    position: relative;
}

nav ul li:hover {
    background-color: cadetblue;
}

nav ul li:hover ul {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    padding: 0;
    background-color: #ddd;
}

ul li, ul li ul {
    display: none;
}

/* Section styles */

section {
    text-align: center;
}

section input {
    margin-bottom: 2rem;
    width: 24rem;
    border-radius: 3px;
    height: 1.5rem;
}

div#wrapperArticles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    margin-top:auto; 
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 0;
    background:PapayaWhip;
}